# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.jpg
*.png

# Folders
_obj
_test


# executables
*.test
*.exe
*.tmp
/demo/*
!/demo/*.go

# log file

# config file

# img4go
/img4go/vendor/*
!/img4go/vendor/vendor.json

